#pake-identity-box {
  height:14px;
  background-color: #e8f1fc;
  /*background-image: -moz-linear-gradient(rgba(170,170,170,.25), rgba(0,0,0,.3));*/
  /*box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;*/
  border: solid 1px #8cb2de;
  border-radius: 3px;
  -moz-padding-start: 2px;
  -moz-padding-end: 2px;
  -moz-margin-end: 3px;
}

#pake-identity-box:-moz-focusring {
  outline: 1px dotted -moz-DialogText;
}

/*
#pake-identity-box:hover:active,
#pake-identity-box[open="true"] {
  background-image: -moz-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1));
}
*/

#pake-identity-box-icon {
  height: 16px;
  list-style-image: url(chrome://pakeproxy/skin/account.png);
  width: 18px;
}

#pake-identity-labels {
  font-size:0.9em;
  margin-left:-4px;
  color: #1452a1;
}

